header {
    background:rgb(255, 255, 255);
}

h1{
    display: inline;
}

#logo {
    width: 250px;
    display: inline;
}

nav {
    display:inline-block;
    margin-left: 15px;
}

nav li{
    display: inline;
}

nav a {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
.produtos li{
    display: inline-block;
}

.item{
    width: 200px;
}





































