header {
    background:rgb(255, 255, 255);
}

h1{
    display: inline;
}

#logo {
    width: 250px;
    display: inline;
}

nav {
    display:inline-block;
    margin-left: 10px;
}

nav li{
    display: inline;
}

nav a {
    text-transform: uppercase;
    color: white;
    font size: 22px;
    text-decoration: none;
}






































