header {
    background:rgb(255, 255, 255);
}

h1{
    display: inline;
}

#logo {
    width: 250px;
    display: inline;
}

nav {
    display:inline-block;
    margin-left: 15px;
}

nav li{
    display: inline;
}

nav a {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
.produtos{
    width: 1136px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li{
    display: inline-block;
    text-align: center;
    border-color: red;
    border-width: 3px;
    border-style: solid;
    margin: 10px;
    padding: 20px 0;

}

.item{
    width: 350px;
    height: 260px;
}

.produtos h2{
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}

.produtos li p{
    margin-top: 10px;
    font-size: 20px;
}







































