body {
    background: rgb(109, 223, 252) ;}

#foto {
    width: 100%;
    height: 200px;
}
p{
    text-align: center;
    background: rgb(109, 223, 252);
}

.itens {
    font-style: italic;
}

.beneficios {
     background: rgb(10, 150, 155);
}

h2 {
    text-align: center;
}
ul{
    display: inline-block;
    vertical-align: top;
}
